SECRET_KEY=dummy-secret-key-for-example
# Сгенерировать:
# python3 -c "import secrets; print(secrets.token_urlsafe(50))"

ALLOWED_HOSTS=localhost,127.0.0.1,your-server-ip
CSRF_TRUSTED_ORIGINS=http://your-server-ip,http://example.com

DATABASE_URL=postgresql://journal_user:password@db:5432/learning_journal
POSTGRES_DB=learning_journal
POSTGRES_USER=journal_user
POSTGRES_PASSWORD=password

DJANGO_SETTINGS_MODULE=config.settings.prod

USE_CDN=True
USE_FILE_LOGGING=False

EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=aaaa bbbb cccc dddd

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=journal-media
MINIO_ENDPOINT_URL=http://minio:9000
MINIO_PUBLIC_URL=your-server-ip/media/
MINIO_CUSTOM_DOMAIN=localhost/media