# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
logs/

# Virtual Environment
venv/
venv_lj/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Tests
.coverage
htmlcov/

# local files
rebuild_local_container.sh
docker-compose.local.yml
