services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py runserver 0.0.0.0:32768"
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "32768:32768"
    env_file:
      - .env
    restart: always

volumes:
  static_volume:
  media_volume: