<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Однотонный фон</title>
    <style>
        body {
            /* Указываем нужный цвет, например, красный */
            background-color: #ff0000; 
            /* Убираем стандартные отступы */
            margin: 0;                
            /* Растягиваем на всю высоту экрана */
            height: 100vh;            
        }
    </style>
</head>
<body>
    <h1 style="color: black; font-size: 10rem; text-align: center; margin-top: 30vh;">Denied</h1>
</body>
</html>